<!--统一底导结构-->
<div class="op_footer">
<div class="inner">
    <p class="links">
		<!--a href="/">开放平台</a><span class="W_vline">|</span>
		<a href="/">博客</a-->
	</p>
    <p class="copyright W_textb">
		<span>Copyright &copy; 273.cn</span>
	</p>
</div>
</div>
<!--/统一底导结构-->

<!--这是浮层div id="pl_web_wikiApiScore" class="api_comment clearfix" style="">
    <a action-type="folder" href="#" onclick="return false;" class="api_tip"><span>api评价</span></a>
</div-->

<script type="text/javascript" src="/tmp/gaea.js" ></script>
<script type="text/javascript" src="/tmp/wikiApi.js" ></script>

</body></html>
