<!DOCTYPE html>
<html lang="zh-cn" dir="ltr" class="client-nojs">
<head>
<title>接口API文档</title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/tmp/wiki_main_lumpsugar.css" media="screen" />
<link rel="stylesheet" href="/tmp/op_star.css" media="screen" />
<style>a:lang(ar),a:lang(ckb),a:lang(fa),a:lang(kk-arab),a:lang(mzn),a:lang(ps),a:lang(ur){text-decoration:none}a.new,#quickbar a.new{color:#ba0000}
.mediawiki pre {
    background-color: #f9f9f9;
    border: 1px dashed #2f6fab;
    color: black;
    line-height: 1.1em;
    overflow: hidden;
    padding: 1em;
}
.mw-headline {padding-top:0px;}
.wiki_nav .nav_search .search_btn {
    background: url("/static/imgs/wiki_nav_sbtn.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    height: 25px;
    text-indent: -9999px;
    width: 29px;
}
</style>
</head>
<body class="mediawiki ltr sitedir-ltr B_wiki_main  skin-monobook">


<div class="op_header" id="pl_web_top">
    <div class="global_top_header ">
	    <div class="header_inner">
	        <div class="header_wrapper">
	            <div class="logo_container">
	                <a class="logo_link" href="/" title="进入首页"><img class="logo_img" src="http://img.t.sinajs.cn/t4/appstyle/open/images/common/transparent.gif" alt="Weibo Platform Logo" /></a>
	                <h1 class="hidden_title">微博开放平台</h1>
	            </div>
	            <!--div class="nav_list_container">
	                <ul class="nav_list">
	                    <li class="nav_item nav_item_more nav_more_mouseover2">
	                        <a class="nav_link" action-type="selection_btn" action-data="index=1" href="/development" title="">微连接<i class="mark_more_arrow"></i></a>
	                        <div class="nav_more_layer" action-type="selection_menu" action-data="index=1">
	                            <div class="nav_more_link_container">
	                                <div class="more_link_line"><a class="nav_more_link" href="/development/mobile" title="">移动应用</a></div>
	                                <div class="more_link_line"><a class="nav_more_link" href="/connect" title="">网站接入</a></div>
	                            <div class="more_link_line"><a class="nav_more_link" href="/development/mobilegame" title="">无线游戏</a></div>
	                            </div>
	                        </div>
	                    </li>
	                    <li class="nav_item nav_item_more nav_more_mouseover2">
	                        <a class="nav_link" action-type="selection_btn" action-data="index=2" href="/service" title="">微服务<i class="mark_more_arrow"></i></a>
	                        <div class="nav_more_layer" action-type="selection_menu" action-data="index=2">
	                            <div class="nav_more_link_container">
	                                <div class="more_link_line"><a class="nav_more_link" href="/development/pro" title="">轻应用</a></div>
                             		<div class="more_link_line"><a class="nav_more_link" href="/pay" title="">微博支付</a></div>                            	
                              		<div class="more_link_line"><a class="nav_more_link" href="/development/fenfu" title="">粉丝服务</a></div>
                              		<div class="more_link_line"><a class="nav_more_link" href="/development/businessdata" title="">商业数据</a></div>
                              		<div class="more_link_line"><a class="nav_more_link" href="/wp/intro" title="">WP介绍</a></div>
	                            </div>
	                        </div>
	                    </li>
	                    <li class="nav_item nav_current">
	                        <a class="nav_link" href="/wiki/" title="">文档</a>
	                    </li>
	                    <li class="nav_item">
	                        <a class="nav_link" href="/support" title="">支持</a>
	                    </li>
						<li class="nav_item">
                       		 <a class="nav_link" href="/fensitong" title="">推广</a>
                    	</li>
	                    <li class="nav_item">
	                        <a class="nav_link" href="/apps"{ hidefocus="true" title="">我的应用</a>
	                    </li>
	                    
	                </ul>
	            </div-->
	            <!--登录Start-->
	            <!--div class="pull_right">
	                	                <div class="user_info user_info_mouseover2" >
					    <div class="user_info_inner" node-type="userinfo_btn">
					        <img class="user_avatar" width="30" height="30" src="http://tp4.sinaimg.cn/1746820983/50/40012405382/1" alt="小明猪" />
					        <span class="user_name">小明猪</span>
					        <i class="user_info_arrow"></i>
					    </div>
					    <div class="user_handle_layer" node-type="userinfo_menu">
					        <div class="handle_link_container" >
					            <div class="handle_link_line"><a class="handle_link" href="/developers/basicinfo" title="">编辑开发者信息</a></div>
					            <div class="handle_link_line"><a class="handle_link" href="/logout.php?backurl=%2Fwiki%2F2%2Fstatuses%2Frepost%3Fsudaref%3Dopen.weibo.com" title="">退出</a></div>
					        </div>
					    </div>
					</div>
	                	            </div-->
	            <!--登录End-->
	            <!-- 美国用户logo右边 -->
	            	        </div>
	    </div>
	</div>
</div>


