<?php
$list = $this->list;
?>
<div id="bodyContent" class="wiki_bodyContent">

<div style="display:none" class="js-messagebox" id="mw-js-message"></div>
<h1 class="firstHeading" id="firstHeading">接口列表</h1>
<div lang="zh-cn" class="mw-content-ltr" dir="ltr"><h2 class="wiki_title"> <span class="mw-headline">接口列表</span></h2>
<div class="wiki_kit">
	<p class="tips_txt">注：这是文档列表</p>
	<div class="wiki_taglist">
		<ul class="clearfix">
			<li><a href="#ididid">接口列表</a></li>
		</ul>
	</div>
	<p class="tips_txt">下面为具体接口</p>




<p><br></p>


<table width="100%" cellspacing="0" cellpadding="0" border="0" class="wiki_table">
<colgroup><col class="tbF1"><col class="tbF2"><col></colgroup>
<tbody>
    <tr><th scope="col" colspan="3"><span id="ididid">接口列表</span></th></tr>

<?php
$c = count($list);
foreach( $list as $v ) {
echo '
    <tr>
        <td style="text-align:center;" rowspan="' . $c . '">接口</td>
        <td><a title="" href="/index/info/?id='. $v['id'] . '">' . $v['url'] . '</a></td>
        <td>' . $v['title'] . '</td>
    </tr>';
}
?>
</tbody></table>
<p><br> </p>




<!--table width="100%" cellspacing="0" cellpadding="0" border="0" class="wiki_table">
<colgroup><col class="tbF1"><col class="tbF2"><col></colgroup>
<tbody>
    <tr><th scope="col" colspan="3"><span id="">置顶微博</span></th></tr>


    <tr>
        <td style="text-align:center;" rowspan="1">读取接口</td>
        <td><a title="" href="">users/get_top_status</a></td>
        <td>获取用户主页置顶微博</td>
    </tr>

    <tr>
        <td style="text-align:center;" rowspan="2">写入接口</td>
        <td><a title="2/users/set top status" href="/wiki/2/users/set_top_status">users/set_top_status</a></td>
        <td>设置用户主页置顶微博</td>
    </tr>
    <tr>
        <td><a title="2/users/cancel top status" href="/wiki/2/users/cancel_top_status">users/cancel_top_status</a></td>
        <td>取消用户主页置顶微博</td>
    </tr>
</tbody></table>

<p><br> </p-->

</div>

</div>
<div class="catlinks catlinks-allhidden" id="catlinks"></div>
<div class="wiki_plus_area_bottom"> 文档系统</div>
</div>
