<?php include ROOT_PATH . 'templates/app/head.inc.html';?>

<!--主内容开始-->
<div class="wiki_wrap">
	<div class="wiki_con">
    	<div class="con_box">
        	<div class="header noprint">
            	<a href="/" title="开发文档" class="wiki_logo">开发文档</a>
            </div>
            <div class="wiki_body">
            	<div class="wiki_inner">
					                	<div class="main_content clearfix">
                		<div class="wiki_side noprint">

                        	<!--左侧导航-->
<?php include ROOT_PATH . 'templates/app/left.inc.html'; ?>
							<!--/左侧导航结束-->

                        </div>



<?php include ROOT_PATH . 'templates/app/indexBody.html'; ?>



                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/主内容开始-->


<?php include ROOT_PATH . 'templates/app/footer.inc.html'; ?>
