<?php
?>
<div id="bodyContent" class="wiki_bodyContent">


<div style="display:none" class="js-messagebox" id="mw-js-message"></div>
<h1 class="firstHeading" id="firstHeading">文档首页</h1>
<div lang="zh-cn" class="mw-content-ltr" dir="ltr"><h2 class="wiki_title"> <span class="mw-headline">项目列表</span></h2>
<div class="wiki_kit">
	<p class="tips_txt">注：更新了分类，可从左侧菜单选择查看需要的项目对应接口</p>
	<div class="wiki_taglist">
		<ul class="clearfix">
<?php
        foreach( $this->tree as $v ) {
			echo '<li><a href="/index/cat/?id=' . $v['data']['id'] . '">' . $v['data']['title'] . '</a></li>';
        }
?>
		</ul>
	</div>


    <h1 style="color:red;margin-top:40px;">
    更新了分类，可从左侧菜单选择查看需要的项目对应接口
    </h1>

</div>
