<div id="pl_web_wikiNav" class="wiki_nav">
    <form class="nav_search clearfix" action="/wiki/index.php">
    <input type="hidden" name="title" value="特殊:搜索"/>
    <span class="input_wrap"><input name="search" title="在微博API中搜索 [f]" accesskey="f" class="ser_input" node-txt="搜索" node-type="search" /></span>
    <input type="submit" name="fulltext" value="搜索" title="搜索含这些文字的页面" class="search_btn" />                                </form>
    <ul class="nav_list">
	<li class="n_top ">
	<h3 action-type="folder"><a href="/"><em class="wiki_icon icon_首页"></em><span class="txt">首页</span>	</a></h3></li>
	<li class="n_top "><h3 action-type="folder"><a href="http://mbs.273.cn/Tph/"><em class="wiki_icon icon_平台公告"></em><span class="txt">新增接口</span></a></h3></li>
	<li class="n_top "><h3 action-type="folder"><a href="/index/add"><em class="wiki_icon icon_平台公告"></em><span class="txt">新增接口[旧版]</span></a></h3></li>


<?php
foreach( $this->tree as $v ) {
	echo '<li class="n_top ">
	    <h3 action-type="folder">
            <a href ="javascript:;"><em class="wiki_icon icon_wkDoc"></em><span class="txt">' . $v['data']['title'] . '</span><em class="nav_arr"></em></a></h3>
        <ul class="child_list" style="display:none;">';

        foreach( $v['list'] as $v2 ) {
            echo '<li class="n_sub"><a href="/index/cat/?id=' . $v2['id'] . '">' . $v2['title'] . '</a></li>';
        }
        echo '</ul>
    </li>';
}
?>

	<li class="n_top ">
	<h3 action-type="folder"><a href="/wiki/%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC"><em
		class="wiki_icon icon_Contact"></em><span class="txt">联系我们</span></a></h3>	</li>
	<li class="n_top" id="p-tb">
		<h3><em class="wiki_icon icon_wkQus"></em><span class="txt">工具箱</span><em class="nav_arr"></em></h3>
		<ul class="child_list" style="background:none">
            <li id="t-whatlinkshere" class="n_sub"><a href="/">链入页面</a></li>
        </ul>
	</li>
	</ul>
	<ul class="quick_nav">
	</ul>
</div>

