<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta charset="UTF-8">
	<title>API测试工具</title>

<link href="http://img.t.sinajs.cn/t4/appstyle/open/css/pages/apitest/home_apitest.css?version=1.1.2.394" rel="stylesheet" type="text/css"/>
<script src="/tmp/jquery.js"></script>
</head>
<body class="B_home_apitest">
<div class="op_header">
  <div class="wrp" id="pl_web_top">
    <a class="logo" href="/"><h1>开放平台</h1></a>
    <div class="nav">
        <ul>
            <li class="n2"><a href="/">首页</a><b></b></li>
            <li><a href="/">网站接入</a><b></b></li>
			<li class="more_link" node-type="morelinknode">
            	<div class="oh_main clearfix"><p><a href="/">应用开发</a><i class="more"></i><b></b></p></div>
                <div class="oh_sub">
                	<div class="item"><a href="/">移动应用</a></div>
                </div>
            </li>
            <li class="n2"><a href="/">文档</a><b></b></li>
        </ul>
    </div>
    		<div class="log_info logout">
	<div class="menu" node-type="infoZone">
		<!--div class="name" node-type="infoTitle">
			<img src="http://tp4.sinaimg.cn/1746820983/50/40012405382/1" alt="小明猪">
			<span class="nc">小明猪</span>
			<i class="more"></i>
		</div>
		<ul class="nav2" node-type="infoList">
			<li><a href="">编辑开发者信息</a></li>
            <li><a href="">退出</a></li>
		</ul-->
	</div>
</div> 
</div>
</div>

<!--主内容开始-->
<div class="home_apitest_wrap">
<div class="apitest_inner">
    <div class="home_apitest_banner"><p class="logo"></p></div>

    <div class="home_apitest_content" id="pl_api_index">
    	<div class="inner clearfix">
        	<div class="inner_left">
            	<!--左侧表单-->
<?php include ROOT_PATH . 'templates/app/testLeft.inc.html'; ?>
            	<!--/左侧表单-->
				            </div>
        	<div class="inner_right">
			            	<!--右侧代码-->
                <div class="form_code">
                  <dl>
                    <dt>请求：</dt>
                    <dd style="display:block;" node-type="infobox">
					<textarea class="W_inputStp heig1" style="width:542px;" id="postUrl" readonly="readonly"></textarea>
                    </dd> 
                  </dl>

                  <dl>
                    <dt class="clearfix"><em class="fr">提示</em>返回的内容：</dt>
                    <dd><div>
					<textarea class="W_inputStp heig2" node-type="resultbox" id="postRes" readonly="readonly"></textarea>
                    </div></dd>
                  </dl>
                </div>
            	<!--/右侧代码-->
			  </div>
			        </div>
    </div>
</div>
</div>
<!--/主内容结束-->


<?php include ROOT_PATH . 'templates/app/footer.inc.html'; ?>
